.explore {
}
.explore__content {
}
.explore__content-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.explore__title {
	color: #1b1a1f;
	font-size: 55px;
	font-weight: 600;
	max-width: 350px;
}
.explore__about {
	color: #2f2e30;
	font-size: 22px;
	font-weight: 400;
	max-width: 450px;
}
.explore__products {
	display: flex;
	justify-content: space-between;
}
.explore__products-snekears {
}
.explore__products-snekears-skate {
	position: relative;
}
.explore__products-snekears-skate:last-child {
	margin-top: 15px;
}
.explore__products-main {
	/* position: relative; */
}
.explore__products-vector {
	right: 3%;
	position: absolute;
	top: 5%;
}
.explore__products-price {
	position: absolute;
	top: 88%;
	font-size: 26px;
	font-weight: 600;
	color: #000;
}
.explore__products-name {
	font-size: 26px;
	font-weight: 400;
	color: #000;
	top: 88%;
	left: 75%;
	position: absolute;
}
